[submodule "Localization"]
	path = Localization
	url = https://github.com/ashikase/Localization.git
[submodule "Frameworks/TechSupport"]
	path = Frameworks/TechSupport
	url = https://github.com/ashikase/TechSupport.git
[submodule "Common"]
	path = Common
	url = http://github.com/ashikase/Common
[submodule "Libraries/libcrashreport"]
	path = Libraries/libcrashreport
	url = http://github.com/ashikase/libcrashreport
