Package: crash-reporter
Version: 1.1.0
Architecture: iphoneos-arm
Pre-Depends: firmware (>=3.0)
Depends: dpkg, grep, coreutils, jp.ashikase.symbolicate (>= 1.5.0), mobilesubstrate
Section: System
Tag: purpose::uikit, role::enduser
Name: CrashReporter
Description: Send useful crash info to developers.
Homepage: http://github/ashikase/CrashReporter/
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=crashreporterData
dev: ashikase
Author: Lance Fetters (ashikase) <support@ashikase.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Sponsor: thebigboss.org <http://thebigboss.org>
