{
	Whitelisted = {
		Binaries = (
			"/Library/MobileSubstrate/MobileSafety.dylib",
			"/Library/MobileSubstrate/MobileSubstrate.dylib",
			"/Library/MobileSubstrate/DynamicLibraries/CydgetLoader.dylib",
			"/usr/lib/dyld",
			"/usr/lib/libAccessibility.dylib",
			"/usr/lib/libafc.dylib",
			"/usr/lib/libbsm.0.dylib",
			"/usr/lib/libbz2.1.0.4.dylib",
			"/usr/lib/libcharset.1.0.0.dylib",
			"/usr/lib/libcharset.1.dylib",
			"/usr/lib/libedit.2.dylib",
			"/usr/lib/libexslt.0.dylib",
			"/usr/lib/libform.5.4.dylib",
			"/usr/lib/libgcc_s.1.dylib",
			"/usr/lib/libgermantok.dylib",
			"/usr/lib/libiconv.2.4.0.dylib",
			"/usr/lib/libiconv.2.dylib",
			"/usr/lib/libicucore.A.dylib",
			"/usr/lib/libIOAccessoryManager.dylib",
			"/usr/lib/libIOKit.A.dylib",
			"/usr/lib/libipsec.A.dylib",
			"/usr/lib/liblangid.dylib",
			"/usr/lib/liblockdown.dylib",
			"/usr/lib/libmecab_em.dylib",
			"/usr/lib/libmecabra.dylib",
			"/usr/lib/libmis.dylib",
			"/usr/lib/libncurses.5.4.dylib",
			"/usr/lib/libobjc.A.dylib",
			"/usr/lib/libQLCharts.dylib",
			"/usr/lib/libresolv.9.dylib",
			"/usr/lib/libsqlite3.dylib",
			"/usr/lib/libstdc++.6.0.9.dylib",
			"/usr/lib/libstdc++.6.dylib",
			"/usr/lib/libsubstrate.dylib",
			"/usr/lib/libSystem.B.dylib",
			"/usr/lib/libSystem.dylib",
			"/usr/lib/libtidy.A.dylib",
			"/usr/lib/libutil1.0.dylib",
			"/usr/lib/libxml2.2.dylib",
			"/usr/lib/libxslt.1.dylib",
			"/usr/lib/system/libkeymgr.dylib",
			"/usr/lib/libz.1.2.3.dylib",
			"/usr/lib/libz.1.dylib",
			"/usr/lib/system/libkxld.dylib",
			"/usr/lib/libcycript.dylib",
			"/usr/lib/libffi.dylib",
		);
		BinaryPathPrefixes = (
			"/System/Library/CoreServices",
			"/System/Library/Frameworks",
			"/System/Library/PrivateFrameworks",
			"/System/Library/TextInput",
		);
		Exceptions = (
			SIGQUIT,
			SIGEMT,
			SIGTRAP,
		);
		Functions = (
			"mach_msg_trap",
			"semaphore_wait_signal_trap",
			"semaphore_timedwait_signal_trap",
			"__semwait_signal",
			"select$DARWIN_EXTSN",
			accept,
			recvfrom,
			read,
			kevent,
		);
	};
	Blacklisted = {
		Functions = (
			"__kill",
		);
	};
}
