{
	SignalFilters = (
		SIGQUIT,
		SIGEMT,
		SIGTRAP,
	);
	"ReverseFunctionFilters" = (
		"__kill",
	);
	FunctionFilters = (
		"mach_msg_trap",
		"semaphore_wait_signal_trap",
		"semaphore_timedwait_signal_trap",
		"__semwait_signal",
		"select$DARWIN_EXTSN",
		accept,
		recvfrom,
		read,
		kevent,
	);
	Filters = (
		"/Applications/AppStore.app/AppStore",
		"/Applications/Calculator.app/Calculator",
		"/Applications/DemoApp.app/DemoApp",
		"/Applications/Maps.app/Maps",
		"/Applications/MobileAddressBook.app/MobileAddressBook",
		"/Applications/MobileCal.app/MobileCal",
		"/Applications/MobileMail.app/MobileMail",
		"/Applications/MobileMusicPlayer.app/MobileMusicPlayer",
		"/Applications/MobileNotes.app/MobileNotes",
		"/Applications/MobileSafari.app/MobileSafari",
		"/Applications/MobileSlideShow.app/MobileSlideShow",
		"/Applications/MobileStore.app/MobileStore",
		"/Applications/MobileTimer.app/MobileTimer",
		"/Applications/Preferences.app/Preferences",
		"/Applications/Stocks.app/Stocks",
		"/Applications/Weather.app/Weather",
		"/Applications/Web.app/Web",
		"/Applications/WebSheet.app/WebSheet",
		"/Applications/YouTube.app/YouTube",
		"/Library/MobileSubstrate/MobileSafety.dylib",
		"/Library/MobileSubstrate/MobileSubstrate.dylib",
		"/System/Library/CoreServices/SpringBoard.app/SpringBoard",
		"/usr/lib/libAccessibility.dylib",
		"/usr/lib/libafc.dylib",
		"/usr/lib/libbsm.0.dylib",
		"/usr/lib/libbz2.1.0.4.dylib",
		"/usr/lib/libcharset.1.0.0.dylib",
		"/usr/lib/libcharset.1.dylib",
		"/usr/lib/libedit.2.dylib",
		"/usr/lib/libexslt.0.dylib",
		"/usr/lib/libform.5.4.dylib",
		"/usr/lib/libgcc_s.1.dylib",
		"/usr/lib/libgermantok.dylib",
		"/usr/lib/libiconv.2.4.0.dylib",
		"/usr/lib/libiconv.2.dylib",
		"/usr/lib/libicucore.A.dylib",
		"/usr/lib/libIOAccessoryManager.dylib",
		"/usr/lib/libIOKit.A.dylib",
		"/usr/lib/libipsec.A.dylib",
		"/usr/lib/liblangid.dylib",
		"/usr/lib/liblockdown.dylib",
		"/usr/lib/libmecab_em.dylib",
		"/usr/lib/libmecabra.dylib",
		"/usr/lib/libmis.dylib",
		"/usr/lib/libncurses.5.4.dylib",
		"/usr/lib/libobjc.A.dylib",
		"/usr/lib/libQLCharts.dylib",
		"/usr/lib/libresolv.9.dylib",
		"/usr/lib/libsqlite3.dylib",
		"/usr/lib/libstdc++.6.0.9.dylib",
		"/usr/lib/libstdc++.6.dylib",
		"/usr/lib/libsubstrate.dylib",
		"/usr/lib/libSystem.B.dylib",
		"/usr/lib/libSystem.dylib",
		"/usr/lib/libtidy.A.dylib",
		"/usr/lib/libutil1.0.dylib",
		"/usr/lib/libxml2.2.dylib",
		"/usr/lib/libxslt.1.dylib",
		"/usr/lib/libz.1.2.3.dylib",
		"/usr/lib/libz.1.dylib",
		"/usr/lib/system/libkxld.dylib",
		"/usr/lib/libcycript.dylib",
		"/usr/lib/libffi.dylib",
		"/Library/MobileSubstrate/DynamicLibraries/CydgetLoader.dylib",
	);
	PrefixFilters = (
		"/System/Library/Frameworks/",
		"/System/Library/PrivateFrameworks/",
		"/System/Library/TextInput/",
	);
}